In [2]:
"""
Docstring for nyc-insprction.ipynb
"""

import pandas as pd

data = pd.read_csv('data/43nn-pn8j.csv')
data.head()

/var/folders/_m/rpxkq7s94wnfkjc8pwcmwfwh0000gn/T/ipykernel_35499/1159322106.py:7: DtypeWarning: Columns (0: phone) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/43nn-pn8j.csv')

,camis,dba,boro,building,street,zipcode,phone,cuisine_description,inspection_date,action,...,inspection_type,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,location
0,50181054,YOU FU HAPPY BREAKFAST INC.,Queens,40-33,MAIN STREET,11354.0,6469197789,NaN,1900-01-01T00:00:00.000,NaN,...,NaN,40.758653,-73.829679,407.0,20.0,85300.0,4113543.0,4.050190e+09,QN22,POINT (-73.829678700764 40.758653213776)
1,50166448,ZOA INC,Manhattan,2036,2 AVENUE,10029.0,3472794247,NaN,1900-01-01T00:00:00.000,NaN,...,NaN,40.789778,-73.943035,111.0,8.0,17000.0,1052732.0,1.016760e+09,MN33,POINT (-73.943034703266 40.789778461885)
2,50165784,AYAT,Brooklyn,274,36 STREET,11232.0,7188312585,NaN,1900-01-01T00:00:00.000,NaN,...,NaN,40.655881,-74.007053,307.0,38.0,200.0,3010304.0,3.006950e+09,BK32,POINT (-74.007053154613 40.655880716657)
3,50180949,QATRA COFFEE CORP.,Brooklyn,100,BUSHWICK AVENUE,11206.0,9295133149,NaN,1900-01-01T00:00:00.000,NaN,...,NaN,40.711845,-73.940642,301.0,34.0,49500.0,3323056.0,3.027900e+09,BK90,POINT (-73.940641519189 40.711845247032)
4,50162955,KID,Manhattan,157,WEST 18 STREET,10011.0,6468646504,NaN,1900-01-01T00:00:00.000,NaN,...,NaN,40.740519,-73.996575,104.0,3.0,8700.0,1014713.0,1.007940e+09,MN13,POINT (-73.996575381015 40.740518662562)

## Grade investigation

Investigation of available grades, scores and how ther distribute across the dataset

According to https://www.nycrestaurantgrades.com/grading-info we have the following possible grades sand scores:
- __Grade A (0-13 points)__: Excellent food safety practices. Restaurant meets highest standards with minimal violations.
- __Grade B (14-27 points)__: Good food safety practices with some violations that need correction.
- __Grade C (28+ points)__: Poor food safety practices. Significant violations present requiring immediate attention.
- __Grade Z (Grade Pending)__:Restaurant is awaiting a re-inspection or tribunal hearing. Restaurants have the right to contest violations before receiving a final grade.
- __Grade P (Grade Pending on Re-opening)__: Issued when a restaurant reopens after being closed. A new inspection will be conducted within 14 days.
- __Grade N (Not Yet Graded)__: New restaurant that hasn't received its first grade or recently opened location.

In [4]:
data.grade.value_counts()

grade
A    33003
B     6237
C     4663
N     3180
Z     1647
P      304
Name: count, dtype: int64

In [5]:
data.inspection_type.value_counts()

inspection_type
Cycle Inspection / Initial Inspection                          52292
Cycle Inspection / Re-inspection                               20225
Pre-permit (Operational) / Initial Inspection                  13708
Pre-permit (Operational) / Re-inspection                        3557
Administrative Miscellaneous / Initial Inspection               3118
Pre-permit (Non-operational) / Initial Inspection               1294
Cycle Inspection / Reopening Inspection                          908
Pre-permit (Operational) / Compliance Inspection                 684
Administrative Miscellaneous / Re-inspection                     601
Cycle Inspection / Compliance Inspection                         454
Inter-Agency Task Force / Initial Inspection                     324
Pre-permit (Operational) / Reopening Inspection                  260
Smoke-Free Air Act / Initial Inspection                          226
Pre-permit (Non-operational) / Re-inspection                     185
Trans Fat / Initial Inspection                                   173
Calorie Posting / Initial Inspection                             161
Pre-permit (Operational) / Second Compliance Inspection           85
Administrative Miscellaneous / Compliance Inspection              51
Sodium Warning / Initial Inspection                               32
Calorie Posting / Re-inspection                                   30
Smoke-Free Air Act / Re-inspection                                26
Trans Fat / Re-inspection                                         25
Cycle Inspection / Second Compliance Inspection                   25
Administrative Miscellaneous / Reopening Inspection               23
Pre-permit (Non-operational) / Compliance Inspection              11
Pre-permit (Non-operational) / Second Compliance Inspection        8
Calorie Posting / Compliance Inspection                            6
Administrative Miscellaneous / Second Compliance Inspection        4
Sodium Warning / Re-inspection                                     4
Smoke-Free Air Act / Compliance Inspection                         3
Trans Fat / Compliance Inspection                                  2
Name: count, dtype: int64

In [9]:
# get threshold for each grade
for grade in data.grade.value_counts().keys().to_list():
    subset = data[data['grade']==grade]
    print(f"Max for {grade}:",subset.score.max())
    print(f"Min for {grade}:",subset.score.min())

Max for A: 43.0
Min for A: 0.0
Max for B: 102.0
Min for B: 0.0
Max for C: 154.0
Min for C: 0.0
Max for N: 203.0
Min for N: 0.0
Max for Z: 108.0
Min for Z: 0.0
Max for P: 27.0
Min for P: 0.0